*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
  font-size: 15px;
}
body{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #1b1b1b;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.image {
  width: 60%;
  height: 30%;
  background-color: rgb(0, 255, 136);
  position: relative;
}
.image::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
}
.cursor {
  height: 20px;
  width: 20px;
  position: fixed;
  background-color: white;
  font-size: 6px;
  text-align: center;
  display: flex;
  z-index: 3;
  align-items: center;
  border-radius: 50%;
}
