*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
  font-size: 15px;
}
body{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #1b1b1b;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
nav{
  color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 40px;
  justify-content: space-between;
}
nav>svg{
  cursor: pointer;
}
.drawer{
  height: 100vh;
  width: 40%;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  top: 0;
  color: white;
  right: -40%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
}
.drawer>svg{
  position: absolute;
  top: 30px;
  cursor: pointer;
  right: 30px;
}
